body {
    background-image: url('../multimedia/pngtree-simple-and-beautiful-watercolor-contrast-color-smudge-texture-watercolor-background-image_469268.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}